.element__delete{
    position: absolute;
    display: none;
    top: 20px;
    right: 20px;
    background: url('../../../images/trash.svg');
    border: none;
    width: 18px;
    height: 19px;
    transition: ease-in-out .3s;
}

.element__delete:hover{
    opacity: 0.6;
    cursor: pointer;
}